.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.mapContainerContainer {
  position: relative;
}

.mapMarker {
  position: absolute;
  z-index: 10;
}
